<h2>Try me</h2>
<p>Just create a demo account and try out our latest development of the TYPO3 Phoenix user interface. Get a first impression of Aloha, the content editor, and try out the simple publishing mechanism based on workspaces.</p>
<f:form action="createAccount" object="{registration}" objectName="registration" section="registration">
	<fieldset>
		<f:flashMessages class="flashmessages" />
		<dl>
			<f:render partial="InputField" arguments="{label: 'Username', property: 'username'}" />
			<f:render partial="InputField" arguments="{label: 'Password', property: 'password'}" />
			<f:render partial="InputField" arguments="{label: 'First name', property: 'firstName'}" />
			<f:render partial="InputField" arguments="{label: 'Last name', property: 'lastName'}" />
			<dt></dt>
			<dd><f:form.submit value="Create Account" class="button" /></dd>
		</dl>
	</fieldset>
</f:form>