<h2>Try me</h2>
<p>Just create a demo account and try out our latest development of the TYPO3 Neos user interface. Get a first impression of Aloha, the content editor, and try out the simple publishing mechanism based on workspaces.</p>
<div class="panel panel-default">
	<div class="panel-body">
		<f:form action="createAccount" class="form-horizontal" object="{registration}" objectName="registration" section="registration" method="POST" additionalAttributes="{role:'form'}">
			<f:flashMessages class="flashmessages" />
			<div class="form-group">
				<f:render partial="InputField" arguments="{label: 'Username', property: 'username'}" />
			</div>
			<div class="form-group">
				<f:render partial="InputField" arguments="{label: 'Password', property: 'password'}" />
			</div>
			<div class="form-group">
				<f:render partial="InputField" arguments="{label: 'First name', property: 'firstName'}" />
			</div>
			<div class="form-group">
				<f:render partial="InputField" arguments="{label: 'Last name', property: 'lastName'}" />
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<f:form.submit value="Create Account" class="btn btn-primary" />
				</div>
			</div>
		</f:form>
	</div>
</div>
