@font-face {
	font-family: 'Noto Sans Regular';
	src: url('../Fonts/NotoSans-Regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../Fonts/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/NotoSans-Regular-webfont.woff') format('woff'), /* Modern Browsers */
		url('../Fonts/NotoSans-Regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../Fonts/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Bold';
	src: url('../Fonts/NotoSans-Bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../Fonts/NotoSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../Fonts/NotoSans-Bold-webfont.woff') format('woff'), /* Modern Browsers */
	url('../Fonts/NotoSans-Bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../Fonts/NotoSans-Bold-webfont.svg#noto_sansregular') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@mixin font {
	font-family: 'Noto Sans Regular', serif;
}

@mixin font-bold {
	font-family: 'Noto Sans Bold', serif;
}

@mixin font-bolditalic {
	font-family: 'Noto Sans Italic', serif;
}

body {
	@include font;

	@media #{$screen-sm} {
		padding-top: 0px !important;
	}
}

footer {
	.panel {
		margin-bottom: 0;

		.panel-footer {
			padding-top: 30px;
		}

		@media #{$screen-sm} {
			.panel-body,
			.panel-footer {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font;
	line-height: 1.1;
}

h1 {
	@include font-bold;
	letter-spacing: -2.5px;
}

a {
	color: $warning;
	text-decoration: none;
	@include transition(color, background-color 0.2s);

	&:hover {
		color: $warning;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.row {
	margin-bottom: 2em;
}

.main-header {
	background-color: $warning;
	overflow: hidden;
	min-height: 375px;
	padding-top: 115px;
	padding-bottom: 115px;
	margin-bottom: 115px;
	@font font-bold;

	&,
	h1 {
		color: #fff;
	}

	a {
		color: #fff;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	@media #{$screen-sm} {
		margin-bottom: 20px;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 0;

		h1 {
			font-size: 1.8rem;
		}
	}
}

// Inline alignments
.typo3-neos-alignment-right {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
}

.typo3-neos-alignment-left {
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
}
