// TYPO3 color definitions from the styleguide
$black: #000000;
$white: #ffffff;
$orange: #ff8700;
$warning: #ff460d;
$green: #00a338;

$grayDarker: #141414;
$grayDark: #222;
$grayMedium: #323232;
$grayLight: #3f3f3f;

$textOnWhite: #252525;
$textOnGray: #fff;
$textSubtle: #5b5b5b;

$blue: #00b5ff;
$blueLight: #39c6ff;
$blueDark: #007fb2;

$primary: $blue;

// Media queries
$screen-sm: "only screen and (max-width: 768px)";
