@media (min-width: 768px) {
	.container {
		max-width: 750px;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
		width: 100%;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
		width: 100%;
	}
}