{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
	<head>
		<f:section name="metadata">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</f:section>

		<f:section name="stylesheets">
			<link rel="stylesheet" href="{f:uri.resource(path: '3/css/bootstrap.min.css', package: 'Neos.Twitter.Bootstrap')}" media="all" />
			<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/NeosDemo.css', package: 'Neos.Demo')}" media="all" />
		</f:section>
	</head>

	<body>
		<f:section name="body">

			<div class="container chapter-container">
				{parts.breadcrumb -> f:format.raw()}

				<neos:contentElement.wrap>
					<header>
						<neos:contentElement.editable property="title" tag="h1" />
					</header>
				</neos:contentElement.wrap>

				<f:if condition="{node.properties.chapterImage}">
					<media:image asset="{node.properties.chapterImage}" class="pull-right" alt="{node.properties.chapterImage.alternativeText}" title="{node.properties.chapterImage.title}" />
				</f:if>

				{content.main -> f:format.raw()}

				<ul class="chapter-pager">
					<f:if condition="{previousChapter}">
						<li><neos:link.node node="{previousChapter}">{previousChapter.label}</neos:link.node> &mdash;</li>
					</f:if>
					<li>{node.fullLabel}</li>
					<f:if condition="{nextChapter}">
						<li>&mdash; <neos:link.node node="{nextChapter}">{nextChapter.label}</neos:link.node></li>
					</f:if>
				</ul>
			</div>

			<footer role="navigation" class="navbar navbar-default">
				<div class="panel panel-default">
					<div class="panel-body clearfix">
						<div class="container">
							{parts.metaMenu -> f:format.raw()}
						</div>
					</div>
					<div class="panel-footer">
						<div class="container">
							{footer -> f:format.raw()}
						</div>
					</div>
				</div>
			</footer>
		</f:section>
	</body>
</html>
