<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{namespace typo3=TYPO3\TYPO3\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="DC.title" content="" />
		<meta name="DC.creator" content="" />
		<f:base />
		<title>TYPO3 Phoenix Demo Template</title>
		<link rel="stylesheet" type="text/css" href="../../../Public/StyleSheets/stylesheet.css" />
	</head>
	<body>
		<f:section name="body">
			<div id="navigationAids">
				<ul>
					<li><a href="#navigation">Skip to navigation</a></li>
					<li><a href="#mainContent">Skip to content</a></li>
				</ul>
			</div>
			<div id="outerWrap">
				<typo3:aloha.notEditable>
					<div id="header">
						<h1>TYPO3 Phoenix Demo Site</h1>
						<div id="topMenu">
							<ul>
								<li>Workspace: {node.context.workspace.name}</li>
								<li><f:link.action action="index" controller="Backend\Backend" package="TYPO3.TYPO3" target="_top">Backend login</f:link.action></li>
							</ul>
						</div>
						<div id="searchBox">
							<form id="search_form" method="post" action="/">
								<input type="text" id="inputText" value="Future Search" />
								<input type="image" src="../../../Public/Images/bg_searchButton.gif" width="20" height="20" id="inputButton" alt="Search" title="Search" />
							</form>
						</div>

					</div>
				</typo3:aloha.notEditable>
				<div id="navigationFirstLevel">
					<h2>First Level Navigation</h2>
					<div id="navigationFirstLevelMenu">
						{parts.firstLevelMenu}
					</div>
				</div>
				<div id="contentWrap">
					<div id="navigationSecondLevel">
						<div id="navigationSecondLevelMenu">
							{parts.secondLevelMenu}
						</div>
						<div id="navigationContent">
							<p>This website demonstrates a few basic features of TYPO3 Phoenix, the next generation of the TYPO3 CMS.</p>
						</div>
					</div>
					<div id="main">
						<div id="breadcrumb">
							{parts.breadcrumbMenu}
						</div>
						<div id="mainContent">
							{content.main}
						</div>
					</div>
					<f:if condition="{content.secondary}">
						<div id="secondary">
							<div id="secondayContent">
								<div class="secondaryContentSection">
									{content.secondary}
								</div>
							</div>
						</div>
					</f:if>
				</div>
				<typo3:aloha.notEditable>
					<div id="footer">
						<h3>Footer</h3>
						<div id="footerMenu">
							<p>
								<a href="http://www.typo3.org/">TYPO3 Phoenix</a> &middot;
								<a href="http://flow3.typo3.org">Powered by FLOW3</a>
								<img src="../../../Public/Images/FLOW3-Logo-11px.png" width="11" height="11" alt="FLOW3 Logo" />
							</p>
						</div>
					</div>
				</typo3:aloha.notEditable>
			</div>
		</f:section>
	</body>
</html>
