<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="DC.title" content="" />
		<meta name="DC.creator" content="" />
		<title>{title}</title>
		<f:section name="additionalHead">
			<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'StyleSheets/stylesheet.css', package:'PhoenixDemoTypo3Org')}" />
		</f:section>
	</head>
	<body>
		<f:section name="body">
			<div id="navigationAids">
				<ul>
					<li><a href="#navigation">Skip to navigation</a></li>
					<li><a href="#mainContent">Skip to content</a></li>
				</ul>
			</div>
			<div id="outerWrap">
				<div id="header">
					<h1>Welcome to TYPO3</h1>
					<div id="topMenu">
						<ul>
							<li><a href="#">Change language</a></li>
							<li><a href="#">Customer login</a></li>
						</ul>
					</div>
					<div id="searchBox">
						<form id="search_form" method="post" action="/">
							<input type="text" id="inputText" value="Search" />
							<input type="image" src="{f:uri.resource(path: 'Images/bg_searchButton.gif', package:'PhoenixDemoTypo3Org')}" width="20" height="20" id="inputButton" alt="Search" title="Search" />
						</form>
					</div>

				</div>
				<div id="navigationFirstLevel">
					<h2>First Level Navigation</h2>
					<div id="navigationFirstLevelMenu">
						<ul>
							<li><a href="#" title="This website">TYPO3</a></li>
							<li><a href="#" class="active">Text mit bild</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Weiterentwicklung</a></li>
							<li class="last"><a href="#">Kontakt</a></li>
						</ul>
					</div>
				</div>
				<div id="contentWrap">
					<div id="navigationSecondLevel">
						<h2>Navigation</h2>
						<div id="navigationSecondLevelMenu">
							<ul>
								<li><a href="/" class="active">Home</a></li>
								<li><a href="/">Page2</a></li>
								<li><a href="/" class="active">Page3</a>
									<ul>
										<li><a href="/">Page3a</a></li>
										<li><a href="/">Page3b</a>
											<ul>
												<li><a href="#">jndsfjndsf</a></li>
											</ul>
										</li>
										<li><a href="/">Page3c</a></li>
									</ul>
								</li>
								<li><a href="/">Page4</a></li>
								<li class="last"><a href="#">Page5</a></li>
							</ul>
						</div>
						<div id="navigationContent">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
						</div>
					</div>
					<div id="main">
						<div id="breadcrumb">
							<p><a href="#">Home</a> &raquo; <a href="#">About Typo3</a> &raquo;  <span>History<span></p>
										</div>
										<div id="mainContent">
											<h1>Main content - TYPO3 Introduction Package Template</h1>
											<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
											<h2>Header Level 2</h2>
											<ol>
												<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
												<li>Aliquam tincidunt mauris eu risus.</li>
											</ol>
											<blockquote>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
											</blockquote>
											<h3>Header Level 3</h3>
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
												<li>Aliquam tincidunt mauris eu risus.</li>
											</ul>
											<pre><code>
		#header h1 a {
			display: block;
			width: 300px;
			height: 80px;
		}
		</code></pre>
										</div>
										</div>
										<div id="secondary">
											<div id="secondayContent">
												<div class="secondaryContentSection">
													<h2>Secondary content</h2>
													<ul>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Aliquam tincidunt</a></li>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Aliquam tincidunt</a></li>
													</ul>
												</div>

												<div class="secondaryContentSection">
													<h2>Secondary content</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
												</div>
											</div>
										</div>
										</div>
										<div id="footer">
											<h3>Footer</h3>
											<div id="footerMenu">
												<p>
													<a href="http://www.typo3.org/">TYPO3 Phoenix</a> &middot;
													<a href="http://flow3.typo3.org">Powered by FLOW3</a>
													<img src="{f:uri.resource(path: 'Images/FLOW3-Logo-11px.png', package:'PhoenixDemoTypo3Org')}" width="11" height="11" />
												</p>
											</div>
										</div>
										</div>
										</f:section>
										</body>
										</html>
