{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{items}">
	<ol class="breadcrumb">
		<f:for each="{items}" as="item" reverse="TRUE" iteration="itemIterator">
			<f:if condition="{item.hiddenInIndex} == 0">
				<li class="{item.state}">
					<f:if condition="{itemIterator.isLast} != 1">
						<f:then>
							<neos:link.node node="{item}" title="foo">{item.label}</neos:link.node>
						</f:then>
						<f:else>
							{item.label}
						</f:else>
					</f:if>
				</li>
			</f:if>
		</f:for>
	</ol>
</f:if>
