{namespace neos=TYPO3\Neos\ViewHelpers}
<f:render section="itemList" arguments="{items: items, site: site}" />

<f:section name="itemList">
	<nav class="navbar navbar-static-top navbar-default first-level-navigation" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{neos:uri.node(node: site)}">TYPO3 Neos</a>
		</div>

		<div class="collapse navbar-collapse navbar-main-collapse">
			<ul class="nav nav-pills nav-justified">
				<f:for each="{items}" as="item" iteration="menuItemIterator">
					<li class="{item.state}">
						<neos:link.node node="{item.node}">{item.label}</neos:link.node>
						<f:if condition="{item.subItems}">
							<f:if condition="{0: item.state} != {0: 'normal'}">
									<f:render section="subList" arguments="{items: item.subItems}" />
							</f:if>
						</f:if>
					</li>
				</f:for>
			</ul>
		 </div>
	</nav>
</f:section>

<f:section name="subList">
	<ul class="second-level-sub-navigation nav nav-justified visible-xs">
		<f:for each="{items}" as="item">
			<li class="{item.state}">
				<neos:link.node node="{item.node}">{item.label}</neos:link.node>
			</li>
		</f:for>
	</ul>
</f:section>
