/* line 1, example.scss */
pre {
  font-family: monospace;
  overflow: auto; }

/* line 6, example.scss */
hr {
  color: #ccc;
  height: 1px;
  background-color: #ccc; }

/* line 12, example.scss */
sub {
  vertical-align: sub; }

/********************************/
/* Frames, spacing, link-to-top */
/********************************/
/* line 20, example.scss */
p.csc-linkToTop {
  text-align: right; }
/* line 22, example.scss */
p.csc-linkToTop a {
  font-weight: bold; }

/* line 27, example.scss */
.csc-frame {
  border: 0; }

/* line 33, example.scss */
.csc-frame-rulerBefore {
  border-top: 1px solid #ccc; }

/* line 37, example.scss */
.csc-frame-rulerAfter {
  border-bottom: 1px solid #ccc; }

/* line 41, example.scss */
.csc-frame-indent {
  padding-left: 100px; }

/* line 45, example.scss */
.csc-frame-indent3366 {
  padding-left: 33%; }

/* line 49, example.scss */
.csc-frame-indent6633 {
  padding-right: 33%; }

/* line 53, example.scss */
.csc-frame-frame1 {
  background-color: #f2f2f2;
  padding: 1em;
  margin-bottom: 2em; }

/* line 60, example.scss */
div.csc-frame-frame2 {
  background-color: #e5e5e5;
  padding: 1em;
  margin-bottom: 2em; }
/* line 66, example.scss */
div.csc-frame-frame1 h1, div.csc-frame-frame1 h2, div.csc-frame-frame1 h3, div.csc-frame-frame1 h4, div.csc-frame-frame1 h5 {
  margin-top: 2px; }
/* line 71, example.scss */
div.csc-frame-frame2 h1, div.csc-frame-frame2 h2, div.csc-frame-frame2 h3, div.csc-frame-frame2 h4, div.csc-frame-frame2 h5 {
  margin-top: 2px; }

/******************/
/* Headers, plain */
/******************/
/* line 81, example.scss */
h1.csc-firstHeader, h2.csc-firstHeader, h3.csc-firstHeader, h4.csc-firstHeader, h5.csc-firstHeader, h6.csc-firstHeader {
  margin-top: 0; }

/* Header date */
/* line 88, example.scss */
p.csc-header-date {
  font-size: 90%; }

/* Subheader, general */
/*******************/
/* RTE / Bodytext: */
/*******************/
/* line 100, example.scss */
.align-center {
  text-align: center; }

/* line 104, example.scss */
.align-right {
  text-align: right; }

/* RTE / table styling */
/* line 110, example.scss */
table.contenttable {
  border: 1px #CFCECF solid;
  margin: 10px 0px 10px 0px;
  width: 100%; }
/* line 114, example.scss */
table.contenttable tr {
  background-color: #f2f2f2; }
/* line 115, example.scss */
table.contenttable tr td {
  padding: 0 3px 0px 3px; }

/* line 122, example.scss */
.indent {
  margin-left: 2em; }

/**********/
/* Images */
/**********/
/* Images / Captions */
/* line 132, example.scss */
.csc-textpic-caption {
  font-size: 90%;
  line-height: 1.2em; }

/***************/
/* Bulletlists */
/***************/
/* lists */
/* line 142, example.scss */
ul {
  margin-bottom: 1em; }

/* line 146, example.scss */
ol {
  margin-bottom: 1em; }
/* line 148, example.scss */
ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 2em; }

/* line 156, example.scss */
ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 2em; }
/* line 161, example.scss */
ul ul {
  margin-left: 1em; }

/* line 166, example.scss */
ol ol {
  margin-left: 1.8em; }

/* Bulletlists, general */
/* line 174, example.scss */
ul.csc-bulletlist-1 li {
  list-style-type: decimal; }
/* line 177, example.scss */
ul.csc-bulletlist-2 li {
  list-style-type: circle; }
/* line 180, example.scss */
ul.csc-bulletlist-3 li {
  list-style-type: square; }

/* Bulletlists, specifically */
/*********************/
/* tables, generally */
/*********************/
/* line 194, example.scss */
table.contenttable tr td {
  vertical-align: top; }
/* line 201, example.scss */
table.contenttable-1 tr.tr-0 td {
  background-color: #e5e5e5; }
/* line 202, example.scss */
table.contenttable-1 tr.tr-0 td p {
  font-weight: bold; }
/* line 210, example.scss */
table.contenttable-2 tr td.td-0 {
  background-color: #f2f2f2; }
/* line 212, example.scss */
table.contenttable-2 tr td.td-0 p {
  font-weight: bold; }
/* line 220, example.scss */
table.contenttable-3 tr td.td-0, table.contenttable-3 tr.tr-0 td {
  background-color: #e5e5e5; }
/* line 223, example.scss */
table.contenttable-3 tr td.td-0 p, table.contenttable-3 tr.tr-0 p {
  font-weight: bold; }
/* line 228, example.scss */
table.csc-uploads {
  border: 0;
  margin-bottom: 2em; }
/* line 232, example.scss */
table.csc-uploads tr td {
  vertical-align: top;
  padding: 0.5em; }
/* line 233, example.scss */
table.csc-uploads tr td p {
  background-color: transparent; }
/* line 239, example.scss */
table.csc-uploads tr.tr-even {
  background-color: #e5e5e5; }
/* line 242, example.scss */
table.csc-uploads tr.tr-odd {
  background-color: #f2f2f2; }
/* line 246, example.scss */
table.csc-uploads tr td.csc-uploads-icon {
  padding: 0.5em 0 0.5em 0.5em;
  width: 1%;
  text-align: center; }
/* line 251, example.scss */
table.csc-uploads tr td.csc-uploads-fileName {
  width: 80%;
  padding-right: 0; }
/* line 254, example.scss */
table.csc-uploads tr td.csc-uploads-fileName p {
  margin: 0; }
/* line 256, example.scss */
table.csc-uploads tr td.csc-uploads-fileName p a {
  font-weight: bold; }
/* line 259, example.scss */
table.csc-uploads tr td.csc-uploads-fileName p.csc-uploads-description {
  margin-top: 0.5em; }
/* line 264, example.scss */
table.csc-uploads tr td.csc-uploads-fileSize {
  white-space: nowrap;
  text-align: right; }

/* tables, specifically */
/************************/
/* Filelinks, generally */
/************************/
/*****************/
/* Various forms */
/*****************/
/* Email, Login and Search forms generally: */
/* line 285, example.scss */
fieldset {
  border: 0; }

/* Email form, specifically */
/* line 291, example.scss */
form .csc-mailform-field {
  margin: 0 0 0.5em;
  clear: both; }
/* line 294, example.scss */
form .csc-mailform-field label {
  float: left;
  text-align: right;
  margin-right: 5%;
  width: 30%; }
/* line 300, example.scss */
form .csc-mailform-field input {
  width: 50%; }

/* line 306, example.scss */
.csc-mailform-field textarea, .csc-mailform-field select {
  width: 50%; }

/* line 311, example.scss */
.csc-mailform-radio fieldset {
  width: 50%; }

/* line 317, example.scss */
form .csc-mailform-field input.csc-mailform-submit, form .csc-mailform-field input.csc-mailform-check, form .csc-mailform-field input.csc-mailform-radio {
  width: auto; }
/* line 320, example.scss */
form .csc-mailform-field input.csc-mailform-submit {
  margin-left: 35% !important;
  /* see label width + margin*/ }
/* line 326, example.scss */
form .csc-mailform-radio legend {
  display: none; }
/* line 330, example.scss */
form .csc-mailform-radio fieldset input {
  float: none; }
/* line 333, example.scss */
form .csc-mailform-radio fieldset label {
  text-align: left;
  float: none;
  width: auto;
  margin: 0; }
/* line 342, example.scss */
form .csc-mailform-field input.mf-check {
  width: auto; }
/* line 345, example.scss */
form .csc-mailform-field input.csc-mailform-radio {
  width: auto;
  margin-right: 0.5em; }

/* fe login*/
/* line 355, example.scss */
.tx-felogin-pi1 form div {
  margin: 0 0 0.5em;
  clear: both; }
/* line 359, example.scss */
.tx-felogin-pi1 legend {
  color: #515151; }

/*****************************/
/* Menu / Sitemap, generally */
/*****************************/
/* line 371, example.scss */
ul.csc-menu .csc-section {
  font-weight: normal;
  margin-left: 20px;
  font-style: italic; }

/* Menu / Sitemap, "Menu of these pages" */
/* Menu / Sitemap, "Menu of subpages to these pages" */
/* Menu / Sitemap, "Sitemap" */
/* Menu / Sitemap, "Section index (pagecontent w/Index checked)" */
/* Menu / Sitemap, "Menu of subpages to these pages (with abstract)" */
/* line 394, example.scss */
dl.csc-menu-4 dd {
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  padding: 0 2px 2px 20px; }

/* Menu / Sitemap, "Recently updated pages" */
/* Menu / Sitemap, "Related pages (based on keywords)" */
/* Menu / Sitemap, "Menu of subpages to these pages + sections" */
