/********************************/
/* FRONT PAGE ONLY STYLES */
/********************************/
div#contentWrap {background: #F18F0B url(/fileadmin/default/templates/Images/flower_mask2.png) bottom left no-repeat !important;}
div#mainContent h1, div#mainContent  h2 { font-family: Georgia; font-weight:normal;}
div#mainContent h1 em {font-style:italic;}
div#secondaryContent li {color:#F18F0B;}
div#breadcrumb {display:none;}

/********************************/
/* FRONT PAGE - GETTING STARTED */
/********************************/
div#gettingStarted {
	width:580px;
	padding:20px;
	}
div#gettingStarted h1 { 
	font-size: 160%;
	}
p#gettingStartedStepOne, p#gettingStartedStepTwo, p#gettingStartedStepThree,p#gettingStartedStepFurtherReading {
	width:auto; 
	margin-left:100px; 
	margin-top:32px;
	}
p#gettingStartedStepThree {
	margin-top:24px;
	}
p#gettingStartedStepFurtherReading {
	margin-top:24px;
	}
a.startButton {
	display: block;
	width: 242px;
	height: 55px;
	background: url(../Images/button_logintotypo3.png) top left no-repeat;
	text-indent: -9999px;
	margin: 1em 0;
	}
a.startButton:hover {
	background-position: 0 -56px;
	}
p#gettingStartedStepOne, p#gettingStartedStepTwo, p#gettingStartedStepThree, p#gettingStartedStepFurtherReading {width:auto; padding:0.1em 0;}
p#gettingStartedStepOne {background: url(/fileadmin/default/templates/Images/step1.png) center left no-repeat !important; padding-left:60px; margin-left:80px;}
p#gettingStartedStepTwo {background: url(/fileadmin/default/templates/Images/step2.png) center left no-repeat !important;padding-left:60px; margin-left:125px;}
p#gettingStartedStepThree {background: url(/fileadmin/default/templates/Images/step3.png) center left no-repeat !important;padding-left:60px; margin-left:170px;}
p#gettingStartedStepFurtherReading {margin-left:230px;}