/* Percentage grid
------------------------------ */
.g, .gc					{ zoom: 1; }
.g:after,
.gc:after				{ content: ""; display: block; height: 0; clear: both; visibility: hidden; }


.g-3,
.g-5,
.g-6 					{ float: left; clear: right; }

.g-5 					{ width: 50%; }
.g-6 					{ width: 67%; }
.g-3 					{ width: 33%; }

.gc 					{ padding-left:10px; }

.g-5:first-child > .gc,
.g-6:first-child > .gc,
.g-3:first-child > .gc 	{ padding-right:10px; padding-left:0;}

/* Fixed grid
------------------------------ */

/* Neos Multicolumn */

div.container:before, div.container:after {
	display: table;
	content: "";
	clear: both;
}

div.container .column {
	float: left;
}

div.typo3-neos-nodetypes-twocolumn .columns-50-50 .column {
	width: 48%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-twocolumn .columns-50-50 .column:last-child {
	margin-right: 0;
}

div.typo3-neos-nodetypes-twocolumn .columns-75-25 .column:first-child {
	width: 73%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-twocolumn .columns-75-25 .column:last-child {
	width: 23%;
	margin-right: 0;
}

umns-25-75 .column:first-child {
	width: 23%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-twocolumn .columns-25-75 .column:last-child {
	width: 73%;
	margin-right: 0%;
}

div.typo3-neos-nodetypes-twocolumn .columns-66-33 .column:first-child {
	width: 64.5%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-twocolumn .columns-66-33 .column:last-child {
	width: 31.5%;
	margin-right: 0;
}

div.typo3-neos-nodetypes-twocolumn .columns-33-66 .column:first-child {
	width: 31.5%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-twocolumn .columns-33-66 .column:last-child {
	width: 64.5%;
	margin-right: 0%;
}

div.typo3-neos-nodetypes-threecolumn .columns-33-33-33 .column {
	width: 30.66666666666%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-threecolumn .columns-33-33-33 .column:last-child {
	margin-right: 0;
}

div.typo3-neos-nodetypes-threecolumn .columns-50-25-25 .column {
	width: 22%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-threecolumn .columns-50-25-25 .column:first-child {
	width: 48%;
}

div.typo3-neos-nodetypes-threecolumn .columns-50-25-25 .column:last-child {
	margin-right: 0;
}

div.typo3-neos-nodetypes-threecolumn .columns-25-50-25 .column {
	width: 22%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-threecolumn .columns-25-50-25 .column:nth-child(2) {
	width: 48%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-threecolumn .columns-25-50-25 .column:last-child {
	margin-right: 0%;
}

div.typo3-neos-nodetypes-threecolumn .columns-25-25-50 .column {
	width: 22%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-threecolumn .columns-25-25-50 .column:last-child {
	width: 48%;
	margin-right: 0;
}

div.typo3-neos-nodetypes-fourcolumn .columns-25-25-25-25 .column {
	width: 22%;
	margin-right: 4%;
}

div.typo3-neos-nodetypes-fourcolumn .columns-25-25-25-25 .column:last-child {
	margin-right: 0;
}