@charset "UTF-8";
/* CSS document for basic print layout */

body, html { font: 10pt/1.5em Georgia, "Times New Roman", Times, serif; color:#333; margin:10pt; background:none; background-color:#fff;}
div#navigationFirstLevel, div#navigationSecondLevel, div#topMenu, div#searchBox, div#navigationAids, div#secondary { display:none;}
div#outerWrap { width:auto; margin:0;}
div#contentWrap { background:none;}
div#header { background:none !important;  height:auto; background-color:none; margin:0;}
div#header h1 { color:#333; margin-top:0; position:inherit; margin-left:0; font-size:300%; font-weight:bold; line-height:1.3em;}
div#footer { background:none; color:#333; font-size:80%;}
div#main { float:left; width:100%;}
div#mainContent { padding:0; padding-top:2em;}
a:link, a:visited { color:#333 !important; text-decoration:underline;}
div#breadcrumb { text-transform:uppercase; font-size:80%; padding:1em 0; left:0; top:0; width: auto;}
div#breadcrumb p { margin:0;}
div#breadcrumb a:link, div#breadcrumb a:visited, div#header h1 a  { text-decoration:none !important;}
div#main h1, div#main h2 { padding-bottom:0.5em; border-bottom:1px solid #ccc;}
h1 { font-size:140%;}
h2 {font-size:130%;}
h3 { font-size:115%;}
