.sitemapcontainer {
	position:relative;
	text-align:center;
	width:984px;
	display:block;
	z-index:1000;
	top: 0px;
	float: left;
}

.sitemapcontent {
	position:relative;
	width:984px;
	display:block;
	z-index:1000;
}

.sitemapcontent * {
	vertical-align:bottom;
	margin:0!important;
	padding:0!important;
	line-height:18px;
}

#combobox {
	position:relative;
	display:block;
	height:36px;
	width:984px;
}

#sitemaptrigger {
	float:right;
	margin-right:24px!important;
	height:36px;
	width:30px;
	text-decoration:none;
	background:url(../images/icons/sitemap-loader-close.gif) no-repeat -30px 0px;
}


.sitemaptriggeron {
	background:url(../images/icons/sitemap_icon_on.gif) no-repeat bottom left!important;
}

.sitemaptriggeroff {
	background:url(../images/icons/sitemap-loader-close.gif) no-repeat -30px 0px !important;
}

.sitemapLoad {
	background:url(../images/icons/sitemap-loader-close.gif) no-repeat 0px 0px !important;
}

.sitemapClose {
	background:url(../images/icons/sitemap-loader-close.gif) no-repeat -60px 0px !important;
}

#searchbox {
	float:right;
	margin-right:2px;
	margin-bottom:-36px;
	height:36px;
	width:200px;
	background:url(../images/backgrounds/bg-searchfield.gif) no-repeat bottom left;
}

#searchbox span {
	color:#F00;
	display:block;
	padding:8px 14px!important;
	font-size:10px;
}

.sitemapcontent ul {
	list-style-type:none;
}

.sitemapcontent ul.level1 {
	display:block;
	width:984px;
	z-index:1000;
	list-style-type:none;
	background:url(../images/backgrounds/sitemapback.gif);
	border-left:1px solid #616161;
	border-right:1px solid #616161;
}

.sitemapcontent .even, .sitemapcontent .odd {
	display:block;
	float:left;
	width:164px;
}

.subon ul, .subon ul *  {
	display:block!important;
}

.suboff ul, .suboff ul * {
	display:none!important;
}

.sitemapcontent ul.level1 li ul li {
	position:relative;
	display:block;
	zoom:1;
	margin-left:12px!important;
	margin-right:12px!important;
	padding:0;
}

.sitemapcontent ul.level1 li ul li ul li {
	margin-right:0px!important;
}

.sitemapcontent .link {
         display:block;
	zoom:1;
         margin:0px 12px!important;
}

.sitemapcontent .trigger, .sitemapcontent .empty {
	position:absolute;
	top:4px;
	left:0px;
         display:block;
         width:9px;
         height:9px;
}

.subon .trigger {
	background:url(../images/icons/sitemap-minus.gif) no-repeat!important;
	cursor:hand;
}

.suboff .trigger {
	background:url(../images/icons/sitemap-plus.gif) no-repeat!important;
	cursor:hand;
}

.sitemapcontent .empty {
	background:url(../images/icons/sitemap-empty.gif) no-repeat!important;
}

.sitemapcontent a {
         color:#FF8700;
         display:block;
}

.sitemapcontent .spacer {
         display:block;
	height:15px;
}

.sitemapcontent .spacer span {
         display:block;
	height:8px;
	border-bottom:1px solid #CCC;
}

a.level1 {
	font-weight:bold;
	color:#2f2f2f;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	line-height:30px;
}
