/* default styles for extension "tx_ptgsashop_pi1" */
    
    .tx-ptgsashop-pi1-txt1 {font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-txt2 {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-txt3 {font-size:10px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-link {font-size:11px; color:#123161; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-tabledefault {border-collapse:collapse; margin-bottom:5px;}
    .tx-ptgsashop-pi1-tablefixed {width:400px; border-collapse:collapse; margin-bottom:5px;}
    .tx-ptgsashop-pi1-tableheader {border:1px solid #edefef; padding:4px; background-color:#edefef; white-space:nowrap;}
    .tx-ptgsashop-pi1-tabletopheader {border:1px solid #edefef; padding:4px; background-color:#c8c8c8; white-space:nowrap;}
    .tx-ptgsashop-pi1-tablecell {border:1px solid #edefef; padding:4px; vertical-align:top;}
    .tx-ptgsashop-pi1-tablecellblind {border-left:0px; border-right:0px;}
    .tx-ptgsashop-pi1-formdefault {margin-bottom:0px;}
    .tx-ptgsashop-pi1-input {font-size:11px; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-button1 {border:1px solid #edefef; background-color:#cccccc; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-button2 {border:1px solid #ffffff; background-color:#cccccc; padding:0px; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-button3 {border:1px solid #edefef; background-color:#cccccc; padding:0px; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-button4 {border:1px solid #ffffff; background-color:#cccccc; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-buttonspecial {border:1px solid #cccccc; background-color:#245a80; color:#ffffff; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi1-buttonfake {border:0px solid #edefef; background-color:#edefef; padding:0px; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    
/* default styles for extension "tx_ptgsashop_pi2" */

    .tx-ptgsashop-pi2-txt1 {font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi2-txt2 {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi2-link {font-size:10px; color:#123161; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi2-formdefault {margin-bottom:0px;}
    .tx-ptgsashop-pi2-boxtable {border-collapse:collapse; margin-bottom:1px;}
    .tx-ptgsashop-pi2-boxdefault {width:100%;}
    .tx-ptgsashop-pi2-boxcell {border:1px solid #edefef; padding:3px;}
    .tx-ptgsashop-pi2-boxheader {border:1px solid #edefef; padding:3px; background-color:#edefef; white-space:nowrap;}
    
/* default styles for extension "tx_ptgsashop_pi3" */

    .tx-ptgsashop-pi3-txt1 {font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-txt2 {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-txt3 {font-size:10px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-notice {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-error {color:red; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-link {font-size:11px; color:#123161; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-tabledefault {border-collapse:collapse; margin-bottom:5px;}
    .tx-ptgsashop-pi3-tablefixed {width:470px; border-collapse:collapse; margin-bottom:5px;}
    .tx-ptgsashop-pi3-tableheader {border:1px solid #edefef; padding:4px; background-color:#edefef; white-space:nowrap;}
    .tx-ptgsashop-pi3-tabletopheader {border-bottom:1px solid #ffffff; padding:4px; background-color:#c8c8c8; white-space:nowrap;}
    .tx-ptgsashop-pi3-tablecell {border:1px solid #edefef; padding:4px;}
    .tx-ptgsashop-pi3-tablecellblind {border-left:0px; border-right:0px;}
    .tx-ptgsashop-pi3-formdefault {margin-bottom:0px;}
    .tx-ptgsashop-pi3-input {font-size:11px; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-input-radio {font-size:11px;}
    .tx-ptgsashop-pi3-input-checkbox {font-size:11px;}
    .tx-ptgsashop-pi3-button1 {border:1px solid #edefef; background-color:#cccccc; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-button2 {border:1px solid #ffffff; background-color:#cccccc; padding:0px; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-button3 {border:1px solid #edefef; background-color:#cccccc; padding:0px; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-button4 {border:1px solid #ffffff; background-color:#cccccc; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-buttonspecial {border:1px solid #cccccc; background-color:#245a80; color:#ffffff; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-buttonfake {border:0px solid #edefef; background-color:#edefef; padding:0px; font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi3-boxborder {width:800px; padding:8px; border:1px solid #edefef;}
    .tx-ptgsashop-pi3-boxheader {margin-bottom:0px; font-size:13px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    
/* default styles for extension "tx_ptgsashop_pi4" */
    
    .tx-ptgsashop-pi4-txt1 {font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-txt2 {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-txt3 {font-size:10px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-notice {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-tabledefault {border-collapse:collapse; margin-bottom:5px;}
    .tx-ptgsashop-pi4-tablefixed {width:400px; border-collapse:collapse; margin-bottom:5px;}
    .tx-ptgsashop-pi4-tableheader {border:1px solid #edefef; padding:4px; background-color:#edefef; white-space:nowrap;}
    .tx-ptgsashop-pi4-tabletopheader {border:1px solid #edefef; padding:4px; background-color:#c8c8c8; white-space:nowrap;}
    .tx-ptgsashop-pi4-tablecell {border:1px solid #edefef; padding:4px;}
    .tx-ptgsashop-pi4-tablelistheader {border:1px solid #edefef; padding:4px; background-color:#edefef; text-align:right; vertical-align:top;}
    .tx-ptgsashop-pi4-tablelistcell {border:1px solid #edefef; padding:3px; font-size:11px; text-align:right; vertical-align:top;}
    .tx-ptgsashop-pi4-tablebgselected {background-color:#f7f7f7}
    .tx-ptgsashop-pi4-formdefault {margin-bottom:0px;}
    .tx-ptgsashop-pi4-button1 {border:1px solid #edefef; background-color:#cccccc; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-buttonspecial {border:1px solid #cccccc; background-color:#245a80; color:#ffffff; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-boxborder {width:800px; padding:8px; border:1px solid #edefef;}
    .tx-ptgsashop-pi4-boxheader {margin-bottom:0px; font-size:13px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi4-hr1 {height:1px; border:1px solid #c8c8c8; margin-bottom:10px; }
    
/* default styles for extension "tx_ptgsashop_pi6" */

    .tx-ptgsashop-pi6-txt1 {font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi6-txt2 {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi6-link {font-size:10px; color:#123161; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi6-formdefault {margin-bottom:0px;}
    .tx-ptgsashop-pi6-boxheader {margin-bottom:0px; font-size:13px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    
/* default styles for extension "tx_ptgsashop_pi7" */
    
    .tx-ptgsashop-pi7-txt1 {font-size:11px; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi7-txt2 {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi7-textlinkheader {font-size:11px; color:#123161; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptgsashop-pi7-imglinkheader {border:0px}
    .tx-ptgsashop-pi7-tabledefault {border-collapse:collapse; margin-bottom:0px;}
    .tx-ptgsashop-pi7-tableheader {border:1px solid #edefef; padding:4px; background-color:#edefef; white-space:nowrap;}
    .tx-ptgsashop-pi7-tablecell {border:1px solid #edefef; padding:1px;}
    .tx-ptgsashop-pi7-formdefault {margin-bottom:0px;}
    .tx-ptgsashop-pi7-button1 {border:1px solid #edefef; background-color:#cccccc; padding:0px; font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    
    
/* default styles for extension "tx_ptgsaarticlelist_pi1" */
    
	.tx_ptgsaarticlelist_pi1_pager {
  		font-size: 0.9em;
  		margin: 10px 0 10px 0;
	}
	
	.tx_ptgsaarticlelist_pi1_pager span {
		margin: 0px;
		padding: 0px;
	}
	
	.tx_ptgsaarticlelist_pi1_pager a,
	.tx_ptgsaarticlelist_pi1_pager a:visited, 
	.tx_ptgsaarticlelist_pi1_pager a:link,
	.tx_ptgsaarticlelist_pi1_pager a:active {
		padding: 2px 4px 2px 4px;
		margin: 2px;
   		text-decoration: none;
		border: 1px solid blue;
		background-color: #FFFFFF;
   		font-weight: bold;
   		color: blue;
	}
	
	.tx_ptgsaarticlelist_pi1_pager span.pagercurrent a {
		border: 1px solid #000;
		background-color: blue;
		color: #FFF;
	}
		    
/* default styles for extension "tx_ptgsacategories_pi1" */
		ul { margin: 0 0 0 10px; padding: 0px; }
		li { list-style-type: none; padding: 0px; margin:0px; }
		ul.level0 li { }
		ul.level1 li { }
		ul.level2 li { }
		
		.tx-ptgsacategories-pi1-active { font-weight:bold; }
		.tx-ptgsacategories-pi1-active:before { content: "> "; }
		.tx-ptgsacategories-pi1-active:after { content:" <"; }
		
		.tx-ptgsacategories-pi1-first a { color: blue; }
		.tx-ptgsacategories-pi1-middle a { color: red; }
		.tx-ptgsacategories-pi1-last a { color: green; }
		
		ul.tx-ptgsacategories-breadcrumbmenu { display: inline; margin: 0px; }
		li.tx-ptgsacategories-breadcrumbitem { display: inline; }
/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tx_ptstatusdisplay_pi1" */
    .tx-ptstatusdisplay-pi1-text {font-size:11px; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
    .tx-ptstatusdisplay-pi1-text-all {}
    .tx-ptstatusdisplay-pi1-text-active {color:red; font-weight:bold;}
    .tx-ptstatusdisplay-pi1-text-inactive {}
    .tx-ptstatusdisplay-pi1-text-separator {}
    .tx-ptstatusdisplay-pi1-image-separator {align:center,valign-middle;}
    .tx-ptstatusdisplay-pi1-number-active {color:blue}
    .tx-ptstatusdisplay-pi1-number-inactive {}
    .tx-ptstatusdisplay-pi1-image-all {align:center,valign-middle;}
    .tx-ptstatusdisplay-pi1-image-active {align:center,valign-middle;}
    .tx-ptstatusdisplay-pi1-image-inactive {align:center,valign-middle;}


	/* default styles for extension "tx_cssstyledcontent" */
	/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 1px solid #cdcdcd;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
	
	DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }

	/* Browser fixes: */

	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {padding-left: 40px; overflow: auto; height: 1%; }
/* default styles for extension "tx_ptgsaconfmgm" */
		.tx_ptgsaconfmgm_fielderror {border:1px solid red; background-color: #FCBEC3;}
/* default styles for extension "pt_tools" */

    .tx-pttools-msgbox {
        font-family: Verdana,Arial,sans-serif; 
        width: auto; 
        float: left; 
        border: 1px solid #9999cc;
    }
    
    .tx-pttools-msgbox-header {
        padding: 10px; 
        background-color: #e4e4e4; 
        white-space: nowrap; 
        border-bottom: 1px solid #9999cc;
    }
    
    .tx-pttools-msgbox-icon {
        vertical-align: middle;
        width: 27px;
        height: 27px;
    }
    
    .tx-pttools-msgbox-headline {
        vertical-align: middle;
        font-size: 13px; 
        font-weight: bold; 
        color: #333366;
        margin-left: 5px;
    }
    
    .tx-pttools-msgbox-content {
        padding: 10px; 
        background-color: #ffffff;
    }
    
    .tx-pttools-msgbox-message {
        font-size: 11px; 
        font-weight: normal; 
        color:#333366;
    }
    
    .tx-pttools-msgbox-clearer {
        clear: both; 
        height: 1px; 
        font-size: 1px; 
        visibility: hidden; 
        margin-top: -1px;
    }
	