#submenu {
}

#submenu ul {
  width:216px;
  list-style-type:none;
  display:block;
  margin: 0px !important;
}

#submenu ul li a {
	font-weight: normal;
}

#submenu ul li a:hover {
	font-weight: bold !important;
	color: #000000 !important;
}



#submenu .sublevel1 li {
  width:216px;
  display:block;
  line-height:24px;
  background:url(../images/backgrounds/bg-nav-sub-l1-no.gif) no-repeat left top;
}

#submenu .sublevel1 li.act-if-sub,
#submenu .sublevel1 li.cur-if-sub{
	padding-top: 2px;
	background:url(../images/backgrounds/bg-nav-sub-top.png) no-repeat left top;
}

#submenu .sublevel2 li.act-if-sub,
#submenu .sublevel2 li.cur-if-sub,
#submenu .sublevel3 li.act-if-sub,
#submenu .sublevel3 li.cur-if-sub,
#submenu .sublevel4 li.act-if-sub,
#submenu .sublevel4 li.cur-if-sub{
	padding-top: 0px;
}


#submenu .sublevel1 li a {
  position:relative;
  z-index:100;
  display:block;
  padding-left:12px;
  line-height:24px;
  height:24px;
  color:#464646;
  text-decoration:none;
}

#submenu .sublevel1 li a:hover {
  z-index:200;
  color:#000;
}

#submenu .sublevel1 li.act a:hover, #submenu .sublevel1 li.cur a:hover, #submenu .sublevel1 li.cur a, #submenu .sublevel1 li.act a {
  background:url(../images/backgrounds/bg-nav-cur-if-nosub2.png) no-repeat left top;
  color:#000;
  font-weight:bold;
}

#submenu .sublevel1 li.act, #submenu .sublevel1 li.cur {
  font-weight:bold;
  margin-top:-2px;
}

#submenu .sublevel1 li.act li, #submenu .sublevel1 li.cur li {
  font-weight:normal;
  margin-bottom:0px;
}

#submenu .sublevel1 li.cur li.act, #submenu .sublevel1 li.cur li.cur, #submenu .sublevel1 li.act li.act, #submenu .sublevel1 li.act li.cur {
  font-weight:bold;
}

#submenu .sublevel1 li.act, #submenu .sublevel1 li.cur, #submenu .sublevel2 li {
  background:url(../images/backgrounds/bg-nav-sub-l2-no.gif) repeat-y left top;
}


#submenu .sublevel1 li.act a, #submenu .sublevel1 li.cur a {
  height:28px;
  line-height:28px;
  background:url(../images/backgrounds/bg-nav-cur-if-nosub2.png) no-repeat left top;
}

#submenu .sublevel2 li a {
	padding-left: 18px;
	color: #464646;
}

#submenu .sublevel3 li a {
	padding-left: 24px;
	color: #464646;
}

#submenu .sublevel4 li a {
	padding-left: 30px;
	color: #464646;
}

#submenu ul.sublevel2 {
	padding-bottom: 2px;
	background:url(../images/backgrounds/bg-nav-sub-bottom.png) no-repeat left bottom;
}

#submenu .sublevel2 li.act, #submenu .sublevel2 li.cur {
  margin-top:0px;
}

#submenu .sublevel1 li.act .sublevel2 li a, #submenu .sublevel1 li.cur .sublevel2 li a {
  padding-left:20px;
  height:24px;
  line-height:24px;
}

#submenu .sublevel1 li.act .sublevel2 li a, #submenu .sublevel1 li.cur .sublevel2 li a {
  background:none;
  color:#2f2f2f;
  font-weight:normal;
}

#submenu .sublevel1 li.act .sublevel2 li.act a, #submenu .sublevel1 li.act .sublevel2 li.cur a {
  background:url(../images/backgrounds/bg-nav-sub-l2-act.gif) no-repeat left bottom;
  color:#000;
  font-weight:bold;
}

#submenu .sublevel1 li.act .sublevel2 li a:hover, #submenu .sublevel1 li.cur .sublevel2 li a:hover {
  background:none;
  font-weight:normal;
  color:#000;
}

#submenu .sublevel1 li.act .sublevel2 li.act a:hover, #submenu .sublevel1 li.act .sublevel2 li.cur a:hover {
  background:url(../images/backgrounds/bg-nav-sub-l2-act.gif) no-repeat left bottom;
}

#submenu .sublevel1 li.act-if-sub a,
#submenu .sublevel2 li.act-if-sub a,
#submenu .sublevel3 li.act-if-sub a,
#submenu .sublevel4 li.act-if-sub a {
	background:url(../images/backgrounds/bg-nav-sub-l1-act.png) no-repeat left bottom;
	color: #000000;
	font-weight: bold;
}

#submenu .sublevel1 li.cur a,
#submenu .sublevel2 li.cur a,
#submenu .sublevel3 li.cur a,
#submenu .sublevel4 li.cur a {
	font-weight: bold;
}


#submenu .sublevel1 li.cur a,
#submenu .sublevel1 li.cur a:hover{
	background:url(../images/backgrounds/bg-nav-cur-if-nosub2.png) no-repeat left top;
}

#submenu .sublevel1 li.cur-if-sub a,
#submenu .sublevel1 li.act-if-sub li.cur a,
#submenu .sublevel1 li.act-if-sub li.cur a:hover {
	background:url(../images/backgrounds/bg-nav-cur-if-sub.png) no-repeat left;
	font-weight: bold;
	color: #000000;
}

#submenu .sublevel1 li.act-if-sub li.no a,
#submenu .sublevel1 li.cur-if-sub .sublevel2 li.no a {
  background: transparent;
}

#submenu .sublevel1 li.no a,
#submenu .sublevel2 li.no a,
#submenu .sublevel3 li.no a,
#submenu .sublevel4 li.no a {
	font-weight: normal;
	color: #464646;
}


#submenu .spacer {
  width:216px!important;
  display:block!important;
  height:3px!important;
  line-height:1px!important;
  font-size:1px;
  overflow:hidden!important;
  /*background:#DD7500!important;*/
  background:url(../images/backgrounds/bg-nav-spc-nosub.png) no-repeat left !important;
  padding:0px!important;
  padding-top:0px!important;
  padding-left:0px!important;
  padding-right:0px!important;
  padding-bottom:0px!important;
  margin:0px!important;
  margin-top:0px!important;
  margin-left:0px!important;
  margin-right:0px!important;
  margin-bottom:0px!important;
  border:0px!important;
}

#submenu .sublevel2 li.spacer{
  background:url(../images/backgrounds/bg-nav-spc-sub.png) no-repeat left !important;
  height:1px!important;
}