#topmenu {
}

#topmenu ul {
  margin-left:216px;
  display:block;
  height:37px;
  list-style-type:none;
  background:url(../images/backgrounds/bg-nav-main.gif) repeat-x left top;
}

#topmenu ul li {
  float:left;
  background:url(../images/backgrounds/bg-nav-main-itemback.gif) repeat-x left top;
  padding-right:1px;
}

#topmenu ul li a {
  background-position: left top;
  height:37px!important;
}

#topmenu ul li a:hover {
  background-position: left center;
}

#topmenu ul li.act a, #topmenu ul li.act a:hover {
  background-position: left bottom;
}

#rootlinemenu {
  margin-left:216px;
  padding-left:12px;
  color:#9b9b9b;
  line-height:24px;
}

#rootlinemenu a {
  color:#9b9b9b;
}
